#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-bottom: 1px solid #363636;
    padding: 0.1em 1em;
}

#search-form {
    position: relative;
    width: 20%;
}

#search-form svg {
    position: absolute;
    top: 10px;
    left: -30px;
}